@import 'colores', 'fonts', 'varios', 'mixins';

/* CSS GENERAL */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: $fontfamilypri;
    font-weight: $regular;
    background-image: url("../img/cinema-with-popcorn-box.jpg");
    background-size: cover;
    background-attachment: fixed;
}

hr {
    color: $white;
}

h1 {
    color: $black;
    font-size: $smaller;
}

h3 {
    font-family: $fontfamilysec;
}

.logo-rotate {
    animation-duration: 4s;
    animation-name: rotarlogo;
    animation-iteration-count: 2;
    animation-delay: 0s;
    animation-timing-function: linear;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    z-index: 1000;
    height: 130px;
}

.margen-sup{
    margin-top: 160px;
}

/* DETERMINAMOS EL EFECTO DE LA ANIMACIÓN */

@keyframes rotarlogo {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-redondeado {
    margin-top: 10px;
    border-radius: 8px;
}

#grilla {
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 25px;
    padding: 25px;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);

    h1 {
        color: $white;
    }
}

section#opciones {
    margin: auto;
}

nav {
    padding: 15px;
    height: 100%;
}

.grid-medio {
    background-color: rgba(255, 255, 255, 0.7);
}

.publi {
    height: 100%;

    img {
        width: 100%;
    }
}

.header__logo {
    width: 115px;
    display: inline-block;
    vertical-align: middle;
}

.menu-derecha {
    justify-content: end;
}

.espaciado-menu {
    width: 500px;
    justify-content: space-between;
    align-items: baseline;
}

.nav-item {
    font-family: $fontfamilysec;
    list-style-type: none;
    font-weight: $bold;
    text-align: map-get($map: $alineado, $key: centro);
    cursor: pointer;
    color: $white;
}

.navbar-dark .navbar-nav .nav-link {
    color: $white;
}

.nav-item .nav-link a {
    text-decoration: none;
    color: $white;
    transition: 0.3s;
}

.navbar-dark .navbar-nav .nav-link {
    &:hover {
        color: $primarycolor;
    }

    .activa {
        color: $activenav;
    }
}

.div-inicio {
    @include divinicio;
    border: 2px dotted $black;
    overflow: hidden;
    margin: 5% auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
}

/* FIN CSS GENERAL */

/* CSS INDEX */

.nav {
    @extend .flexrow;
    justify-content: space-evenly;

    a {
        text-decoration: none;
        color: $white;
    }
}

.div-inicio .div-inicio--ul {
    @extend .flexrow;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;

    li {
        list-style-type: none;
        font-size: 60px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 15px;
        text-align: map-get($map: $alineado, $key: centro);
        width: 180px;
        transition: 0.3s;

        a {
            text-decoration: none;
            color: $black;
            transition: 0.3s;
        }

        &:hover {
            transform: scale(1.05, 1.05);
        }

        a:hover {
            color: $primarycolor;
        }
    }

    h3 {
        font-size: 25px;
        text-align: map-get($map: $alineado, $key: centro);
    }
}

#grilla .div-inicio--ul {
    @extend .flexrow;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
    padding-left: 0px;

    li {
        list-style-type: none;
        font-size: 60px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 15px;
        text-align: map-get($map: $alineado, $key: centro);
        width: 180px;
        transition: 0.3s;

        a {
            text-decoration: none;
            color: $black;
            transition: 0.3s;
        }

        &:hover {
            transform: scale(1.05, 1.05);
        }

        a:hover {
            color: $primarycolor;
        }
    }

    h3 {
        font-size: 25px;
        text-align: map-get($map: $alineado, $key: centro);
    }
}

.div-inicio {
    h2 {
        font-size: 30px;
        color: $black;
    }

    p {
        text-align: map-get($map: $alineado, $key: just);
        color: $azul;
    }
}

.lista-inicio {
    width: 80%;
    margin: auto;
    margin-top: 25px;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
            font-weight: bold;
            letter-spacing: 1.8px;
            margin-bottom: 5px;
            color: $black;
        }
    }
}

#home {
    .div__h3--resenas {
        font-size: 30px;
        margin-bottom: 10px;
        color: $white;
    }

    .div__ol--resenas {
        @extend .flexcolumn;
        justify-content: space-between;
        height: 300px;

        li {
            padding: 2px;
            font-size: 16px;
            margin-left: 15px;
            color: $white;
            font-weight: bold;
        }
    }
}

/* FIN CSS INDEX */

/* CSS FOOTER */

footer {
    font-family: $fontfamilysec;
    margin-top:40px;
    width: 100%;
    background-color: $black;
}

.textoFooter {
    color: $white;
    text-align: right;
}

footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

footer a{
    text-decoration: none;
}

footer li{
    margin: 10px 0px;
    color: $white;
    list-style-type: none;
    transition: .5s;
}

footer li:hover{
    color: $primarycolor;
}

footer .ul-top{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

/* FIN CSS FOOTER */

/* CSS NEWSLETTER */

.newsForm h3 {
    color: $black;
    font-size: 30px;
    margin-bottom: 10px;
}

.newsForm--legend {
    color: $black;
    margin-bottom: 10px;
}

.newsForm .inputTexto {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    margin: 5px;
}

.newsForm--ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding-left: 0px;
}

.newsForm--li {
    list-style-type: none;
    font-weight: bold;
    text-align: map-get($map: $alineado, $key: izq);
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
    color: $black;
    margin-top: 15px;
}

.newsForm--ul-listaGeneros {
    @extend .flexrow;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding-left: 0px;

    li {
        list-style-type: none;
    }
}

/* FIN CSS NEWSLETTER */

/* CSS REELS */

.reels h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: $black;
}

.reelsGallery {
    @extend .flexrow;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    @each $name,
    $efecto in $imgreels {
        .#{$name} {
            width: 220px;
            transition: 0.5s;
            border-radius: 5px;
            border: 2px solid gray;
        }

        .#{$name}:hover {
            transform: $efecto;
        }
    }
}

/* FIN CSS REELS */

/* NOSOTROS */

.nosotros {
    h3 {
        font-size: 30px;
        margin-bottom: 10px;
        color: $black;
    }

    p {
        font-size: 15px;
        color: $black;
        font-weight: bold;
    }
}

/* FIN NOSOTROS */

/* CSS ESTRENOS */

section#estrenos {
    @include divinicio;
}

#estrenos {
    h3 {
        font-family: $fontfamilysec;
        margin: 10px;
    }

    span {
        font-size: 0.7em;
    }

    .div__h3--resenas {
        font-size: 30px;
        margin-bottom: 10px;
        color: $gris;
    }

    .div__ol--resenas {
        @extend .flexcolumn;
        justify-content: space-between;
        height: 300px;

        li {
            padding: 2px;
            font-size: 16px;
            margin-left: 15px;
            color: $gris;
            font-weight: bold;
        }
    }

    .flex-estrenos {
        @extend .flexcolumn;
        justify-content: flex-start;
        gap: 20px;
    }

    img {
        width: 200px;
        transition: 1s;
    }
}

.contenido-estrenos {
    border: 0px 1px solid $black;
}

.detalle-estrenos {
    @extend .flexrow;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#estrenos .detalle-estrenos:hover>p {
    font-weight: 700;
    color: $primarycolor;
    font-size: 1.05rem;
}

.sinopsis-est {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* CSS PARA MOBILE */

@media only screen and (max-width: 600px) {
    .header__nav {
        width: 30%;
    }

    footer {
        position: relative;
        margin-top: 50px;
    }

    .textoFooter {
        text-align: map-get($map: $alineado, $key: der);
        margin-right: 10px;
    }

    .newsForm {
        width: 95%;
    }

    .newsForm--ul-listaGeneros {
        flex-direction: column;
    }

    .header-grilla {
        display: none;
    }

    .publi img {
        width: 80%;
        display: block;
        margin: auto;
    }

    section#estrenos {
        @include divinicio;
    }

    #estrenos {
        h3 {
            margin: 10px;
        }

        span {
            font-size: 0.7em;
        }

        .flex-estrenos {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
        }

        img {
            width: 200px;
        }
    }

    .div__h3--resenas {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .sinopsis-est {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            font-size: 0.8em;
        }
    }

    section#servicios {
        margin: 10px 0px;
    }
}